@import './variables.scss';

a {
    text-decoration: inherit;
    color: inherit;
}

.lg_container {
    width: 62%;
    margin: auto;
    height: 100%;       
}

.left_container {
    margin-left: 19%;
    width: 31%;

}

.text-green {
    color: $main-dark-green;
}

.condensed600 {
    font-weight: 600;
    letter-spacing: -0.5px;
}

.condensed700 {
    font-weight: 700;
    letter-spacing: -0.5px;
}

.superbold {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.muted_grey {
    color: $muted-grey;
}

.bg_green {
    background-color: $bg-light-green;
}

button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;              
    border-radius: 5px;
    color: white;
    border: 1px solid $main-dark-green;
    font-weight: 500;

    &.green {
        background-color: $main-dark-green;
        
    }

    &.transparent {
        background-color: transparent;
    }
}

.height_420 {
    height: 420px;
}

.fw-600 {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.highlighted {
    background-color: #08818125;
    border-radius: 5px;
}

.grey_circle_border {
    height: 115px;
    width: 115px;
    font-size: 1.5rem;
    border: 9px solid #232328;
    border-radius: 50%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    position: relative;

    .completion_1percent {
        position: absolute;
        display: inline-block;
        width: 9px;
        height: 2px;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        background-color: $main-dark-green;
    }
    
}

.font_size_3 {
    font-size: 2.5rem;
}

.text_lightgrey {
    color: #C0C3D0;
    // color: $mute-grey-2;
}

.sm_circles_container {

    width: 138px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;

    .sm_circle {
        background-color: #B3E1DB;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.6;
    }

}

.green_on_green {
    color: $main-dark-green;
    background-color: $bg-light-green;
    border-radius: 3px;
}

.pre_title {
    color: $main-dark-green;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 0.9rem;
}

.sm_container {
    width: 50%;
    margin: auto;
}

.pr-4 {
    padding-right: 3rem;
}

.pl-4 {
    padding-left: 3rem;
}

