@import './variables.scss';

a {
    text-decoration: inherit;
    color: inherit;
}

.lg_container {
    width: 62%;
    margin: auto;
    height: 100%;       
}

.text-green {
    color: $main-dark-green;
}

.condensed {
    font-weight: 700;
    letter-spacing: -0.5px;
}